.social-links-container {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 1em;
}

.link-item {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.15s ease-in;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.copyright-msg {
  margin-bottom: 1em;
  align-self: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  margin: auto;
  width: 100%;
}
