.social-links-container {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 1em;
}

.link-item {
  text-decoration: none;
  color: #e8e9eb;
  font-size: x-large;
  // transition: 0.1s ease-in;
  // opacity: 0.9;
  //
  // &:hover {
  //   opacity: 1;
  // }
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background: #313638;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
  }
}

.copyright-msg {
  margin-bottom: 1em;
  align-self: center;
  color: #313638;
}

p > a:visited {
  color: #e0dfd5;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e4b363;
  margin: auto;
  width: 100%;
}
